@{
    ViewData["Title"] = "İletişim Bilgileri";
}

<div class="text-center">
    <br />
    <br />
    <h2 style="color: purple">@ViewData["Title"]</h2>

    <br />
    <br />
    <h3>Atatürk Mah. Menekşe Sok.</h3>
    <h3>İSTANBUL</h3>
    <br />
    <h3>E-posta adresim:</h3>
    <h3><a href="mailto:kaancankur2001@gmail.com">kaancankur2001@gmail.com</a></h3>
</div>